### **Họ Tên:** Đinh Viết Trung

## **Exercise 1: Tạo dataframe**

In [1]:
Name <- c("Alex", "Lilly", "Mark", "Oliver", "Martha", "Lucas", "Caroline")
Age <- c(25, 31, 23, 52, 76, 49, 26)
Height <- c(177, 163, 190, 179, 163, 183, 164)
Weight <- c(57, 69, 83, 75, 70, 83, 53)
Sex <- as.factor(c("F", "F", "M", "M", "F", "M", "F"))
df <- data.frame (row.names = Name, Age, Height, Weight, Sex)

print(df)

         Age Height Weight Sex
Alex      25    177     57   F
Lilly     31    163     69   F
Mark      23    190     83   M
Oliver    52    179     75   M
Martha    76    163     70   F
Lucas     49    183     83   M
Caroline  26    164     53   F

In [2]:
print(paste("Levels of Sex:",toString(levels(df$Sex))))

[1] "Levels of Sex: F, M"

In [3]:
Working <- c("Yes","No","No","Yes","Yes","No","Yes")
df2 <- data.frame(row.names = Name,Working) #Name has been already defined in df
print(df2)

         Working
Alex         Yes
Lilly         No
Mark          No
Oliver       Yes
Martha       Yes
Lucas         No
Caroline     Yes

In [4]:
# tao data frame moi chua thong tin cua 2 data frame tren
df <- cbind(df,df2)
print("Combining 2 data frame:")
print(df)

[1] "Combining 2 data frame:"
         Age Height Weight Sex Working
Alex      25    177     57   F     Yes
Lilly     31    163     69   F      No
Mark      23    190     83   M      No
Oliver    52    179     75   M     Yes
Martha    76    163     70   F     Yes
Lucas     49    183     83   M      No
Caroline  26    164     53   F     Yes

In [5]:
#co bao nhieu dong va bao nhieu cot trong data frame nay?
print(paste("Dong:", dim(df)[1], ", Cot:", dim(df)[2]))
# cho biet kieu du lieu cua tung cot
print(str(df))

[1] "Dong: 7 , Cot: 5"
'data.frame':	7 obs. of  5 variables:
 $ Age    : num  25 31 23 52 76 49 26
 $ Height : num  177 163 190 179 163 183 164
 $ Weight : num  57 69 83 75 70 83 53
 $ Sex    : Factor w/ 2 levels "F","M": 1 1 2 2 1 2 1
 $ Working: chr  "Yes" "No" "No" "Yes" ...
NULL

## **Exercise 2: Tạo và làm việc với dataframe**

In [6]:
a <- (floor(runif(10, -10, 10)))
b <- letters[4:13]
c <- c("yes","no","no","no","no","yes","no","yes","yes","no")
#tao data frame
df3 <- data.frame(a,b,c)
print("Data frame:")
print(df3)

[1] "Data frame:"
     a b   c
1   -5 d yes
2   -4 e  no
3   -4 f  no
4    6 g  no
5  -10 h  no
6    4 i yes
7    0 j  no
8   -6 k yes
9   -2 l yes
10  -5 m  no

In [8]:
#in data frame voi du lieu sap xep tang dan o cot a
print("Data frame with column a in order")
print(df3[with (df3, order(a)),] )

[1] "Data frame with column a in order"
     a b   c
5  -10 h  no
8   -6 k yes
1   -5 d yes
10  -5 m  no
2   -4 e  no
3   -4 f  no
9   -2 l yes
7    0 j  no
6    4 i yes
4    6 g  no

In [9]:
#cho ma tran
matrix.data <- matrix(1:40, nrow = 10, ncol = 4)
#tao data frame tu ma tran
print("Data frame form matrix:")
df <- as.data.frame(matrix.data)
#dat ten cot va dong cho ma tran nhu sau
colnames(df) <- sub(" ","",paste("variable_", 1:ncol(df)))
rownames(df) <- sub(" ", "",paste("id_", 1:nrow(df)))
print(df)

[1] "Data frame form matrix:"
      variable_1 variable_2 variable_3 variable_4
id_1           1         11         21         31
id_2           2         12         22         32
id_3           3         13         23         33
id_4           4         14         24         34
id_5           5         15         25         35
id_6           6         16         26         36
id_7           7         17         27         37
id_8           8         18         28         38
id_9           9         19         29         39
id_10         10         20         30         40

## **Exercise 3: Làm việc với dataframe**

In [10]:
print(head(state.x77))
print(paste("Data type:",class(state.x77)))

           Population Income Illiteracy Life Exp Murder HS Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766
[1] "Data type: matrix" "Data type: array"

In [11]:
df <- data.frame(state.x77)
print(head(df))

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766

In [12]:
# Find out how many states have an income of less than 4300.
print(paste("Number of states income < 4300:", nrow(df[df$Income < 4300,])))
# what are they?
df[df$Income < 4300,]

[1] "Number of states income < 4300: 20"

               Population Income Illiteracy Life.Exp Murder HS.Grad Frost
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Maine           1058      3694   0.7        70.39     2.7   54.7    161
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
               Area
Alabama         50708
Arkansas        51945
Georgia         58073
Idaho           82677
Kentucky        39650
Louisiana       44930
Maine           30920
Mississippi     47296
Missouri        68995
New Hampshire    9027
New Mexico     121412
North Carolina  48798
Oklahoma        68782
South Carolina  30225
South Dakota    75955
Tennessee       41328
Texas          262134
Utah            82096
Vermont          9267
West Virginia   24070

In [13]:
# Find out which is the state with the highest income.
ma <-df[which.max(df$Income),][2]
print(paste("state has max income:", 
        row.names(df[which.max(df$Income),]),
        toString(ma)))

# Find out which is the state with the highest Life.Exp.
ma <-df[which.max(df$Life.Exp),][4]
print(paste("state has highest life.exp:", 
        row.names(df[which.max(df$Life.Exp),]),
        toString(ma)))
        
# Find out which is the state with the lowest Life.Exp.
ma <-df[which.min(df$Life.Exp),][4]
print(paste("state has lowest life.exp:", 
        row.names(df[which.min(df$Life.Exp),]),
        toString(ma)))

[1] "state has max income: Alaska 6315"
[1] "state has highest life.exp: Hawaii 73.6"
[1] "state has lowest life.exp: South Carolina 67.96"

## **Exercise 4: Làm việc với dataframe**

In [14]:
# tao data frame tu state.abb, state.area, state.division, state.name, state.regi
# row names la ten cua states.
df <- data.frame(state.abb, state.area, state.division, state.region, 
                row.names = state.name)
print("Data frame:")
print(head(df))

[1] "Data frame:"
           state.abb state.area     state.division state.region
Alabama           AL      51609 East South Central        South
Alaska            AK     589757            Pacific         West
Arizona           AZ     113909           Mountain         West
Arkansas          AR      53104 West South Central        South
California        CA     158693            Pacific         West
Colorado          CO     104247           Mountain         West

In [15]:
# doi ten tat cac cac cot chi chua 3 ky tu sau dau .
colnames(df) <- substr(colnames(df), 7, 9)
# sau khi doi ten
print("After rename:")
print(head(df))

[1] "After rename:"
           abb    are                div   reg
Alabama     AL  51609 East South Central South
Alaska      AK 589757            Pacific  West
Arizona     AZ 113909           Mountain  West
Arkansas    AR  53104 West South Central South
California  CA 158693            Pacific  West
Colorado    CO 104247           Mountain  West

In [16]:
# tao data frame chua state.x77 va du lieu moi tao
df_new <- cbind(state.x77, df)
print("New data frame:")
print(head(df_new))

[1] "New data frame:"
           Population Income Illiteracy Life Exp Murder HS Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766
           abb    are                div   reg
Alabama     AL  51609 East South Central South
Alaska      AK 589757            Pacific  West
Arizona     AZ 113909           Mountain  West
Arkansas    AR  53104 West South Central South
California  CA 158693            Pacific  West
Colorado    CO 104247           Mountain  West

In [17]:
# loai bo cot div
df_new$div <- NULL
# tiep tuc loai bo cac cot Life Exp, HS Grad, Frost, abb, va are
df_new <- subset(df_new,select = -c(4, 6, 7, 9, 10))
print("After drop div, Life Exp, HS Grad, Frost, abb, and are:")
print(head(df_new))

[1] "After drop div, Life Exp, HS Grad, Frost, abb, and are:"
           Population Income Illiteracy Murder   Area   reg
Alabama          3615   3624        2.1   15.1  50708 South
Alaska            365   6315        1.5   11.3 566432  West
Arizona          2212   4530        1.8    7.8 113417  West
Arkansas         2110   3378        1.9   10.1  51945 South
California      21198   5114        1.1   10.3 156361  West
Colorado         2541   4884        0.7    6.8 103766  West

In [18]:
# them cot phan loai mu chu Illiteracy.Levels voi mo ta sau: <1 Low, <2 Some
# con lai la High
df_new$Illiteracy.Levels <- ifelse(df_new$Illiteracy >= 0 &
                                    df_new$Illiteracy < 1, 
                                    "Low",
                                    ifelse(df_new$Illiteracy >= 1
                                    & df_new$Illiteracy < 2, 
                                    "Some",
                                    "High")
)

print("After insert Illiteracy.Levels:")
print(head(df_new))

[1] "After insert Illiteracy.Levels:"
           Population Income Illiteracy Murder   Area   reg Illiteracy.Levels
Alabama          3615   3624        2.1   15.1  50708 South              High
Alaska            365   6315        1.5   11.3 566432  West              Some
Arizona          2212   4530        1.8    7.8 113417  West              Some
Arkansas         2110   3378        1.9   10.1  51945 South              Some
California      21198   5114        1.1   10.3 156361  West              Some
Colorado         2541   4884        0.7    6.8 103766  West               Low

In [19]:
# cho biet co bao nhieu vung va la nhung vung nao?
print(paste("Number of Regions:", nlevels(df_new$reg), ". There are:", toString(levels(df_new$reg))))

[1] "Number of Regions: 4 . There are: Northeast, South, North Central, West"

## **Exercise 5: Sử dụng function trong package tidyverse**

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
# https://drive.google.com/file/d/1qDKpXe-IEwW3TnPdCudt_lhnOMg1to8B/view?usp=sharing
system('gdown --id 1qDKpXe-IEwW3TnPdCudt_lhnOMg1to8B')

In [ ]:
# Cho dữ liệu Obesity_data.csv. Đọc dữ liệu vào dataframe data. In head của data
data <- read.csv('Obesity_data.csv')
head(data)

  id gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1 1  F      150    49     21.8 53  1312 0.88 17802 28600 37.3
2 2  M      165    52     19.1 65  1309 0.84  8381 40229 16.8
3 3  F      157    57     23.1 64  1230 0.84 19221 36057 34.0
4 4  F      156    53     21.8 56  1171 0.80 17472 33094 33.8
5 5  M      160    51     19.9 54  1681 0.98  7336 40621 14.8
6 6  F      153    47     20.1 52  1358 0.91 14904 30068 32.2

In [ ]:
#  Tạo dataframe data1 chỉ chứa các cột id, gender, height, weight, bmi. In head của data1
data1 = select(data, gender, height, weight, bmi, age)
print(head(data1))

  gender height weight  bmi age
1      F    150     49 21.8  53
2      M    165     52 19.1  65
3      F    157     57 23.1  64
4      F    156     53 21.8  56
5      M    160     51 19.9  54
6      F    153     47 20.1  52

In [ ]:
# Với data1, lọc ra những dòng có bmi >=18.5 và <=24.9 và đưa vào dataframe data2
data2 = filter(data1, bmi >=18.5, bmi <=24.9)
print(head(data2))
print(paste("Rows have bmi >=18.5 and <=24.9: ", nrow(data2)))

  gender height weight  bmi age
1      F    150     49 21.8  53
2      M    165     52 19.1  65
3      F    157     57 23.1  64
4      F    156     53 21.8  56
5      M    160     51 19.9  54
6      F    153     47 20.1  52
[1] "Rows have bmi >=18.5 and <=24.9:  865"

In [ ]:
# Với data1, tạo ta biến mới height_m = height/100
data1 = mutate(data1, height_m = height/100)
head(data1)

  gender height weight bmi  age height_m
1 F      150    49     21.8 53  1.50
2 M      165    52     19.1 65  1.65
3 F      157    57     23.1 64  1.57
4 F      156    53     21.8 56  1.56
5 M      160    51     19.9 54  1.60
6 F      153    47     20.1 52  1.53

In [ ]:
# Với data1, sắp tăng dần theo bmi
head(arrange(data1, bmi))

  gender height weight bmi  age height_m
1 M      162    38     14.5 55  1.62
2 F      162    40     15.2 54  1.62
3 F      151    35     15.4 33  1.51
4 F      155    37     15.4 44  1.55
5 F      150    35     15.6 24  1.50
6 M      169    45     15.8 50  1.69

In [ ]:
# Với data1, Tính giá trị trung bình của height, weight theo gender. Tạo ra các biến mới chứa
# giá trị trung bình là mean.height, mean.weight

group = group_by(data1, gender)
df_summary = summarize(group,
                        count = n(),
                        mean.height = mean(height, na.rm = T),
                        mean.weight = mean(weight, na.rm = T) 
 )
 df_summary

  gender count mean.height mean.weight
1 F      862   153.2912    52.31090
2 M      355   165.0592    62.02254

In [ ]:
# Với data1, đếm số lượng theo gender và age
count(data1, gender)

  gender n
1 F      862
2 M      355

In [ ]:
# viết cho vui ạ ^^
group_gender_age = count(data1, gender, age)

print(head(group_gender_age))
print(tail(group_gender_age))

  gender age  n
1      F  14  4
2      F  16  2
3      F  18 10
4      F  19 27
5      F  20 13
6      F  21  8
    gender age n
138      M  82 1
139      M  83 1
140      M  84 3
141      M  85 1
142      M  87 1
143      M  88 1

In [ ]:
# Chọn 10 mẫu ngẫu nhiên từ data1 và đưa vào data3
data3 = data1 %>% sample_n(10)
data3

   gender height weight bmi  age height_m
1  F      149    49     22.1 56  1.49
2  M      163    53     19.9 33  1.63
3  M      160    54     21.1 65  1.60
4  F      155    50     20.8 36  1.55
5  F      160    52     20.3 57  1.60
6  F      155    45     18.7 25  1.55
7  F      155    60     25.0 54  1.55
8  M      155    60     25.0 37  1.55
9  M      168    61     21.6 22  1.68
10 M      164    67     24.9 46  1.64

In [ ]:
#Chọn 1% mẫu ngẫu nhiên từ data1 và đưa vào data4
data4 = data %>% sample_frac(0.01) 
data4

   id   gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1  1009 F      150    54     24.0 42  2213 1.35 16239 34246 30.8
2   788 F      148    45     20.5 51  1291 0.91 16050 28276 35.5
3   785 F      160    52     20.3 55  1416 0.88 19402 30850 37.6
4    30 F      151    47     20.6 41  1435 0.92 16083 27801 35.5
5  1091 F      152    49     21.2 47  1427 0.98 15084 31863 31.2
6   260 F      154    47     19.8 62  1347 0.88 16362 29235 34.9
7    33 M      175    54     17.6 40  2004 1.01  8650 41762 16.5
8   924 M      168    58     20.5 18  1669 0.88 13035 43302 22.5
9   498 F      170    63     21.8 21  2045 1.04 25557 39087 38.3
10  516 F      162    59     22.5 19  2092 1.09 20720 35030 35.8
11  477 M      165    65     23.9 44  2515 1.25 16084 44277 25.6
12 1034 F      152    45     19.5 49  1680 1.04 17029 28364 36.2